beautifulsoup4==4.12.3
brotli==1.1.0
httpx==0.27.0
pandas==2.2.2
pywin32==306
streamlit==1.35.0
streamlit-aggrid==1.0.5
pytest==8.2.2
pytest-mock==3.10.0
importlib-metadata==5.2.0
plotly==5.11.0
pytest-benchmark==4.0.0
